<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>VITROZAN BAITUL ALAM</title>
</head>
<body>

<center>

    <h2>Nama Vitrozan Baitul Alam</h2>
    <h3>S1SE01-A</h3>
    <h3>17104034</h3>
	
    
    <h1>My To-Do List</h1>
    <h4 id="comment">{{ theComment }}</h4>
    <form method="POST">
        <input name="item_text" id="id_new_item" placeholder="Enter a to-do item" />
        {% csrf_token %}
    </form>
    <table id="id_list_table">
        {% for item in items %}
        <tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>
        {% endfor %}
    </table>
	</center>
</body>
</html>
